<!DOCTYPE html> 

<html>
    <head>
        {{>sharedHead}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This web site was created by Rodrigo Fernandes. It uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/img/img.jpg">
        </div>
        {{>footer}}
    </body>
</html>