<!DOCTYPE html> 

<html>
    <head>
        {{>sharedHead}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/img.jpg">
        </div>
        {{>footer}}
    </body>
</html>